# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Python (for Lambda and potentially other scripts)
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# AWS
*.pem
*.pem.txt

# Editors and OS
*.swp
*.bak
*.tmp
*~
.DS_Store
.vscode/
.idea/
*.log

# Others
*.zip
secrets.*